<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      <h1>BIG OFFER</h1>
    

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Shoping Cart</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="https://www.instagram.com/_niranjan_s_varun_/"Instagram
                <span class="sr-only">(Instagram)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="https://l.instagram.com/?u=https%3A%2F%2Fyoutube.com%2Fchannel%2FUCXp6CINwMvvkBM5nB9iJYpQ&e=ATMVf6P4qapUOPGrE9iZ2jcethFJnDyK8WG05-i-9NdgGG3CT8ag-Kos-YRMkpBAT_nR8lTdlHtNVo13uRFdJY8&s=1">YouTube</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
            >Search</button>
          </form>
        </div>
      </nav>
    </header>
    <section>
      <div class="container mt-5">
        <div class="row">
            

          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="https://assets.entrepreneur.com/content/3x2/2000/1620818307-iphone-13-rendering.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Iphone 13pro Max<br>₹1,18,900.</br></h5>
                <p class="card-text">15 cm (6.1-inch) Super Retina XDR display
Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
Advanced dual-camera system with 12MP Wide and Ultra Wide cameras; Photographic Styles, Smart HDR 4, Night mode, 4K Dolby Vision HDR recording
12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording
A15 Bionic chip for lightning-fast performance
Up to 19 hours of video playback
Durable design with Ceramic Shield.</p>
                <a href="https://www.amazon.in/dp/B09G9H3RZH" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
             <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="https://th.bing.com/th/id/OIP.2iAul8UcZu3zI8vkwyjH7AHaEK?pid=ImgDet&w=1068&h=601&rs=1"
                alt="Card image cap"
              
              <div class="card-body">
                <h5 class="card-title">Samsung Galaxy S22<br>₹1,09,999</br></h5>
                <p class="card-text">The first Galaxy S with embedded S Pen. Write comfortably like pen on paper, turn quick notes into legible text and use Air Actions to control your phone remotely. Improved latency in Samsung Notes makes every pen stroke feel as natural as ink on paper — and you can convert those hastily written ideas into legible text.
5G Ready powered by Galaxy’s first 4nm processor. Our fastest, most powerful chip ever. That means, a faster CPU and GPU compared to Galaxy S21 Ultra. It’s an epic leap for smartphone technology.
The Dynamic AMOLED 2x display improves outdoor visibility with up to 1750 nits in peak brightness.* And the 120Hz adaptive refresh rate keeps the scroll smooth, adjusting to what's on screen for an optimized view..</p>
 
               <a href="https://www.amazon.in/Samsung-Phantom-Storage-Additional-Exchange/dp/B09SH994JW/ref=sr_1_1_sspa?adgrpid=1211662303483396&hvadid=75729024353521&hvbmt=be&hvdev=c&hvlocphy=148586&hvnetw=o&hvqmt=e&hvtargid=kwd-75729256367659%3Aloc-90&keywords=samsung%2Bs22%2B&qid=1661240171&sr=8-1-spons&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFHMkxCUjQ2WFYzWVomZW5jcnlwdGVkSWQ9QTAxODQ0NTEzRElMVEZDRDRQSVIxJmVuY3J5cHRlZEFkSWQ9QTAyNDIxNzAzVFZTOVVQODlYSDdSJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1" class="btn btn-primary">Buy Now</a>
              <!--<div class="footer-social-title"></div>-->
            </a>
              <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="https://www.91-cdn.com/hub/wp-content/uploads/2021/05/PIXEL-6-5K2.jpg"
                alt="Card image cap"
              
              <div class="card-body">
                <h5 class="card-title">Google pixel 6A<br>₹ ₹65,200.00</br></h5>
                <p class="card-text">
Cellular Technology	5G
Screen Size	6.7 Inches
Connectivity Technology	Wi-Fi
Network Service Provider	Unlocked for All Carriers
Memory Storage Capacity	128 GB</p>
 
               <a href="https://www.amazon.in/Google-Pixel-Cloudy-White-Storage/dp/B09KNBCPZ6/ref=sr_1_4?adgrpid=1220458409610732&hvadid=76278783523313&hvbmt=bb&hvdev=c&hvlocphy=148586&hvnetw=o&hvqmt=b&hvtargid=kwd-76279031068983%3Aloc-90&keywords=price+nothing+phone+1&qid=1661241066&sr=8-4" class="btn btn-primary">Buy Now</a>
              <!--<div class="footer-social-title"></div>-->
            </a>
               
              </div>
            </div>
          </div>
          
          
           
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>